.cell {
      width: 30px;
      height: 30px;
      border: 1px solid black;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      margin: 2px;
      font-family: 'Arial', sans-serif;
  }
  
  .row {
      margin-bottom: 5px;
  }
  
  .correct {
      background-color: green;
  }
  
  .wrong-place {
      background-color: yellow;
  }
  

  @media only screen and (max-width: 600px) {
      .cell {
          width: 40px; 
          height: 40px;
          line-height: 40px; 
          margin: 3px; 
      }
  
      .row {
          margin-bottom: 
      }
  }
  